nav .nav-brand img {
  width: 100%;
  /* display: none; */
}

#exam_format div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ******* */
/* 13.0 Service CSS */
/* .prizes-worth {
  position: relative;
  z-index: 1;
  text-align: center;

}
.prizes-worth .service-icon {
  background-color: #e7f2fd;
  width: 145px;
  height: 110px;
  font-size: 42px;
  color: #303030;
  text-align: center;
  line-height: 110px;
  border-radius: 80px 200px 200px 362px;
  margin: 0 auto 30px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}
.prizes-worth h5 {
  font-size: 22px;
  display: block;
  margin-bottom: 15px;
  -webkit-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  font-weight: 600;
}
.prizes-worth:focus .service-icon,
.prizes-worth:hover .service-icon {
  background-color: #1583e9;
  color: #ffffff;
  -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
  box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
}
.prizes-worth:focus h5,
.prizes-worth:hover h5,
.prizes-worth:focus h2,
.prizes-worth:hover h2 {
  color: #1583e9;
  transform: scale(1.1);
}
 */

/* ****************** */
/* FAQs section */
.faq-section {
  display: flex;
  justify-content: center;
}

.faq-section-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: #eeeeee;
}

.faqs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  margin-bottom: 50px;
  background-color: lightgrey;
}
/* ***** */
#faqs .container {
  /* margin: 0 auto; */
  font-family: 'Aileron';
  /* padding: 4rem; */
  width: 58rem;
  align-items: center;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Aileron';
}
.accordion .accordion-item button[aria-expanded='true'] {
  /* border-bottom: 1px solid #03b5d2; */
  font-family: 'Aileron';
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  /* padding: 1em 1.5em 1em 0; */
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  font-family: 'Aileron';
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-family: 'Aileron';
  font-size: 1rem;
  font-weight: 300;
  /* margin: 2em 0; */
}
/* ****************** */
