body {
  margin: 0;
  padding: 0;
  font-family: Helvetica; /* In logo: Helvetica Neue Light */
  background-color: turquoise;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
